<%= form_for(@media) do |f| %>
  <% if @media.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@media.errors.count, "error") %> prohibited this media from being saved:</h2>

      <ul>
      <% @media.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :media_tipo %>
    <%= f.text_field :media_tipo %>
  </div>
  <div class="field">
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
