<%= form_for(@media_genero) do |f| %>
  <% if @media_genero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@media_genero.errors.count, "error") %> prohibited this media_genero from being saved:</h2>

      <ul>
      <% @media_genero.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
